<main>
    <h1>Overview</h1>
    <img src="../assets/svg/Effect.svg" alt="Effect">
    <p>Stratosphere Sing&Drive has two channels-one is booster (Sing channel) witch gives you a Dumble SSS tone, the other one
        is overdrive (Drive channel).</p>
    <p>Every channel can work independently, or both channels can work together. Now comes the cool part! You can switch the
        positions of both channels only by the flick of one switch which gives you the order you want.</p>
    <p>For instance, you can put the Drive channel first in the chain, so you can first clip the signal and then give em the
        right amount of volume and headroom using the "Sing" channel.Other cool setup is to switch off the clipping of the
        "Drive channel" ( via internal dip two switches) and put the "Sing" channel first on the line- this way you first
        shape your tone with the Dumble SSS simulation and then give it a little edge with the "Drive" channel, but with
        a headroom unmatched with nothing else (exept true tube amp). This is what we call - Dumble ODS settings( with both
        clipping options turned off).</p>
    <p>This pedal gives you so many ways to shape you tone. You can use the high cut of the "Drive" channel together with the
        contour of the "Sing" channel ( witch shapes the mid frequencies of your guitar) to nail almoust every tone you like
        . Also you have two clipping options for the Drive channel selectable using two dip switches inside the pedal( you
        have to open the back plate).</p>
    <p>As you can see this is very versatile effect pedal, witch gives you all the tools in your hands to bring your tone online,
        no matter what guitar or amp you're using.</p>
    <h3>We're proud to call this pedal channel strip and you can find out why if you try it!</h3>
</main>