<footer id="contact">
    <h1>Contact</h1>
    <img src="../../assets/svg/MojoGear_logo.svg" alt="Mojo Gear Logo">
    <p class="contact-info">
        <span>Sofia, Bulgaria</span>
        <span>359/0895703422</span>
        <span>email: mojogearelc@gmail.com</span>
    </p>
    <div class="map">
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=42.727720, 23.279823&key=AIzaSyCwZ-lpypNbNg1iYFd4ADjeUZS74OFrges"
            allowfullscreen></iframe>
    </div>
    <form action="handle-form.php" class="contact-form" method="post">
        <div>
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <input type="text" name="subject" placeholder="Subject">
        <textarea required name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
        <input type="submit" name="submit" value="Send">
    </form>
</footer>