body {
    background: #efebea;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    font-weight: 300;
}

.img-holder {
    width: 100%;
    text-align: center;
}