body {
    background: #efebea;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    font-weight: 300;
}

.img-holder {
    width: 100%;
    text-align: center;
}

main {
    max-width: 1366px;
    background: white;
    margin: 0 auto;
    img {
        max-width: 735px;
        width: 100%;
        margin: 0 auto;
    }
    section {
        margin: 0;
    }
    & > * {
        padding: 100px 200px;
        padding-top: 85px;
        overflow: auto;
        @media screen and (max-width: 1366px) {
            padding: 30px 50px;
        }
    }
    h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }
}

footer {
    background: #584342;
    color: #efeeea;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    > h1 {
        margin-bottom: 140px;
    }
    > img {
        max-width: 700px;
        margin-bottom: 110px;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    [type=submit] {
        align-self: flex-end;
        width: 220px;
        background-color: #8c665f;
    }
    input, > textarea {
        background-color: #3f2d2c;
        border: 0;
        font-size: 30px;
        font-weight: 400;
        padding: 20px 30px;
        color: #efebea;
        border-radius: 10px;
        &::placeholder {
            color: #746463;
        }
    }
    > * {
        margin-bottom: 30px;
    }
    > div {
        display: inline-flex;
        justify-content: space-between;
        > input {
            flex-basis: calc(50% - 35px);
            box-sizing: border-box;
        }
    }
}

.contact-info {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 0;
    font-size: 30px;
}

.section-overview {
    color: #5d5252;
    img {
        margin-bottom: 50px;
    }
}

.section-sing, .section-drive {
    p:nth-of-type(3) {
        clear: left;
    }
    img {
        max-width: 440px;
        float: left;
        margin-right: 55px;
        margin-bottom: 55px;
        margin-top: 6px;
    }
}

.section-sing {
    color: #5d5252;
    background: #e3cbbe;
}

.section-drive {
    color: #efeeea;
    background: #8c665f;
}

nav {
    position: fixed;
    width: 100%;
    background: rgba(27, 9, 7, 0.3);
    ul {
        height: 85px;
        max-width: 1366px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            display: inline;
            &:hover {
                border-bottom: 5px solid #f26c4f;
            }
            &.active {
                border-bottom: 5px solid #f26c4f;
                a {
                    font-weight: 700;
                }                
            }
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 300;
            padding-top: 40px;
            display: inline-block;
        }
    }
}