nav {
    position: fixed;
    width: 100%;
    background: rgba(27, 9, 7, 0.5);
    ul {
        transition: 0.3s height, 0.3s transform;
        height: 85px;
        max-width: $max-width;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            display: inline;
            &:hover {
                border-bottom: 5px solid #f26c4f;
            }
            &.active {
                border-bottom: 5px solid #f26c4f;
                a {
                    font-weight: 700;
                }                
            }
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 300;
            padding-top: 40px;
            display: inline-block;
            transition: 0.3s padding;
            &:active, &:focus {
                outline: 0;
                border: none;
                -moz-outline-style: none;
            }
        }
    }
    &.thin {
        ul {
            height: initial;
        }
        a {
            padding-top: initial;
        }
    }
    @media (max-width: 940px) {
        height: 45px;
        padding-top: 15px;
        transition: height 0.3s;
        ul {
            margin-bottom: 20px;
            transform: translateY(-540px);
            flex-direction: column;
            display: flex;
            height: auto;
            li {
                margin-top: 35px;
                border-bottom: 0;
                &.active {
                    border-bottom: 0;
                    a {
                        font-weight: 400;
                    }
                }
                &:hover {
                    border: none;
                }
                a {
                    padding-top: 0;
                    display: block;

                }
            }
        }
        &.menu--open {
            height: auto;
            ul {
                transform: translateY(0);
            }
            span:first-child {
                -webkit-transform: rotate(45deg) translate(7px,9px);
                transform: rotate(45deg) translate(7px,9px);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                -webkit-transform: rotate(135deg) translate(-6px,8px);
                transform: rotate(135deg) translate(-6px,8px);
            }
        }
        .hamburger {
            display: flex;
        }
    }
    @media (max-width: $max-width) {
        ul {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}
.hamburger {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 25px;
    width: 35px;
    margin-left: 10px;
}

.hamburger__stick {
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,transform .3s;
    transition: opacity .3s,transform .3s,-webkit-transform .3s;
    width: 35px;
    display: block;
    height: 3px;
    margin: 0 auto;
    background: white;
    will-change: transform,opacity;
}