nav {
    position: fixed;
    width: 100%;
    background: rgba(27, 9, 7, 0.3);
    ul {
        height: 85px;
        max-width: 1366px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            display: inline;
            &:hover {
                border-bottom: 5px solid #f26c4f;
            }
            &.active {
                border-bottom: 5px solid #f26c4f;
                a {
                    font-weight: 700;
                }                
            }
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 300;
            padding-top: 40px;
            display: inline-block;
        }
    }
}