<nav>
    <div class="hamburger">
        <span class="hamburger__stick"></span>
        <span class="hamburger__stick"></span>
        <span class="hamburger__stick"></span>
    </div>
    <ul>
        <li><a href="#top">Home</a></li>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#drive">Drive Channel</a></li>
        <li><a href="#sing">Sing Channel</a></li>
        <li><a href="https://www.mojogearguitarfx.com/buy-now" target="_blanck">Order</a></li>
        <li><a href="https://www.mojogearguitarfx.com/" target="_blanck">MojoWorld</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>